.center {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: end;
}

.top {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: start; 
}

.left {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: left;
    align-items: center;
}

.right {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: right;
    align-items: center;
}
