/* Variables */

:root {
    --background-color: #F8EDED;
    --text-color: #173B45;
    --offset-color: #B43F3F;
    --offset-complementary-color: #3FB4B4;
    --link-color: #206CDF;
}

/* Resets */

html, body {
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover, a:active {
    color: var(--link-color);
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Generic classes */

.center {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: end;
}

.top {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: start; 
}

.left {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: left;
    align-items: center;
}

.right {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: right;
    align-items: center;
}

/* Special classes */

.default-body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.default-header {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--offset-color);
    color: #FFFFFF;
}

.default-header a {
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
}

.default-header a:first-child {
    margin-right: auto;
}

.default-header #logo {
    vertical-align: top;
    margin-right: 5px;
    filter: invert(100%);
}

.default-main {
    width: 100%;
    height: fit-content;
    padding: 10px;
    
    flex-grow: 1;
    
    background-color: var(--background-color);
    color: var(--text-color);
}

.default-footer {
    width: 100%;
    padding: 0 15px 0 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-color);
    color: var(--text-color);
}
