#urls-container {
    width: 100%;
    max-height: 0px;
    display: flex;
    justify-content: center;
}

#source-url {
    margin-right: 50px;
}

#region {
    color: inherit;
    opacity: 0.75;
    font-size: 0.8em;
    text-indent: 2px
}

#name {
    color: var(--offset-color);
    font-weight: bold;
    font-size: 1.2em;
}

#content-top {
    display: flex;
}

#content-left {
    width: 60%;
}

#description {
    color: inherit;
    font-size: 0.9em;
}

#content-right {
    width: 40%;
}

#image {
    width: 40%;
    height: auto;
}

#image:hover {
    cursor: pointer;
}

#content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#iframe-container {
    width: 650px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#windy-height {
    width: 90%;
}

#compass-altitude-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#credits {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    color: inherit;
}

#credits > span:first-child {
    margin-right: 15px;
}

#compass {
    --compass-size: 200px;

    width: var(--compass-size);
    min-width: var(--compass-size);
    height: var(--compass-size);
    min-height: var(--compass-size);

    background-color: #b3b3b3;
    border-radius: 100%;
    border: 1px solid black;
    box-sizing: content-box;
    
}

#compass div {
    width: inherit;
    height: inherit;

    position: absolute;

    border-radius: 100%;
    background-color: #00ff00;
}

#compass #N {
    clip-path: polygon(25% 0%, 50% 50%, 75% 0%);
}

#compass #NE {
    clip-path: polygon(75% 0%, 50% 50%, 100% 25%);
}

#compass #E {
    clip-path: polygon(100% 25%, 50% 50%, 100% 75%);
}

#compass #SE {
    clip-path: polygon(100% 75%, 50% 50%, 75% 100%);
}

#compass #S {
    clip-path: polygon(75% 100%, 50% 50%, 25% 100%);
}

#compass #SW {
    clip-path: polygon(25% 100%, 50% 50%, 0% 75%);
}

#compass #W {
    clip-path: polygon(0% 75%, 50% 50%, 0% 25%);
}

#compass #NW {
    clip-path: polygon(0% 25%, 50% 50%, 25% 0%);
}

#altitude-container {
    text-align: right;
}
